body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    font-size: 1.5em;
    font-family: 'Electrolize', sans-serif;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
}

.footer {
    font-size: 0.9em; 
    font-family: 'Electrolize', sans-serif;
    margin-top: 20px;
}